@{
    ViewData["Title"] = "Search recipes";
}
<div class="col-md-6 offset-3">
    <div class="row">
        <a class="btn btn-platinum text-oxford search-option" asp-controller="SearchRecipes" asp-action="SearchByIngredients">
            Po składnikach
        </a>
    </div>
    <br/>
    <div class="row">
        <a class="btn btn-platinum text-oxford search-option" asp-controller="SearchRecipes" asp-action="SearchByCategories">
            Po kategorii
        </a>
    </div>
    <br/>
    <div class="row">
        <a class="btn btn-platinum text-oxford search-option" asp-action="Index">
            Zaskocz mnie
        </a>
    </div>
</div>