@{
    ViewData["Title"] = "Search recipes";
}
<div class="col-md-6 offset-3">
    <div class="row">
        <a class="btn btn-search" asp-action="IngredientsSearch">
            Po składnikach
        </a>
    </div>
    <br/>
    <div class="row">
        <a class="btn btn-search" asp-action="Index">
            Po kategorii
        </a>
    </div>
    <br/>
    <div class="row">
        <a class="btn btn-search" asp-action="Index">
            Zaskocz mnie
        </a>
    </div>
</div>