@using ZeroWaste.Data.ViewModels.Login;
@model ChangePasswordVM

@{
    ViewData["Title"] = "Zmień hasło";
}
<div class="row">
    <div class="col-md-6 offset-3 text-center">
        <p>
            <h4>Wprowadź stare hasło a następnie wpisz nowe</h4>
        </p>
        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span>@TempData["Error"]</span>
            </div>
        }
        <div class="row">
            <div class="col-md-10 offset-1">
                <form asp-action="ChangePassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mt-1rem">
                        <i class="bi bi-unlock"></i><label asp-for="OldPassword" class="control-label form-label"></label>
                        <input asp-for="OldPassword" class="form-control" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-1rem">
                        <i class="bi bi-lock"></i><label asp-for="NewPassword" class="control-label form-label"></label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-1rem">
                        <i class="bi bi-lock-fill"></i><label asp-for="NewPasswordConfirmed" class="control-label form-label"></label>
                        <input asp-for="NewPasswordConfirmed" class="form-control" />
                        <span asp-validation-for="NewPasswordConfirmed" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input class="btn btn-pale-pink text-black float-right" type="submit" value="Zmień haslo" />
                        <a class="btn btn-platinum text-black" asp-controller="Home" asp-action="Index">Cofnij</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>