@using ZeroWaste.Data.ViewModels.Login;
@model LoginVm

@{
    ViewData["Title"] = "Zaloguj się na konto";
}
<div class="row">
<div class="col-md-6 offset-3 text-center">
        <p>
            <h4>Zaloguj się na swoje konto</h4>
        </p>
        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span>@TempData["Error"]</span>
            </div>
        }
        <div class="row">
            <div class="col-md-10 offset-1">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-4 text-end">
                            <label asp-for="EmailAddress" class="control-label"></label>
                        </div>
                        <div class="col-md-4">
                            <input asp-for="EmailAddress" class="form-control"/>
                        </div>
                        <div class="col-md-4">
                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-4 text-end">
                            <label asp-for="Password" class="control-label"></label>
                        </div>
                        <div class="col-md-4">
                            <input asp-for="Password" class="form-control"/>
                        </div>
                        <div class="col-md-4">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        <input class="btn btn-pale-pink text-black float-right" type="submit" value="Zaloguj"/>
                        <a class="btn btn-platinum text-black" asp-controller="Home" asp-action="Index">Cofnij</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>