@using ZeroWaste.Data.ViewModels.Login;
@model RegisterVm

@{
    ViewData["Title"] = "Zarejestruj nowe konto";
}
<div class="row">
<<<<<<< HEAD
    <div class="col-md-6 offset-3 text-center">
=======
    <div class="col-md-6 offset-3">
>>>>>>> 17d4fe8 (Added Account Controller. Added ViewModels to login and register. Added Views for login and register. Added method in controller to getting View of login and register. Added method to log in)
        <p>
            <h4>Zarejestruj nowe konto</h4>
        </p>
        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span>@TempData["Error"]</span>
            </div>
        }
        <div class="row">
<<<<<<< HEAD
            <div class="col-md-10 offset-1">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <label asp-for="FullName" class="control-label"></label>
                        </div>
                        <div class="col-md-4">
                            <input asp-for="FullName" class="form-control"/>
                        </div>
                        <div class="col-md-4">
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-4">
                            <label asp-for="EmailAddress" class="control-label"></label>
                        </div>
                        <div class="col-md-4">
                            <input asp-for="EmailAddress" class="form-control"/>
                        </div>
                        <div class="col-md-4">
                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-4">
                            <label asp-for="Password" class="control-label"></label>
                        </div>
                        <div class="col-md-4">
                            <input asp-for="Password" class="form-control"/>
                        </div>
                        <div class="col-md-4">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-4">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                        </div>
                        <div class="col-md-4">
                            <input asp-for="ConfirmPassword" class="form-control"/>
                        </div>
                        <div class="col-md-4">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <br/>
                    <div class="form-group">
                        <input class="btn btn-pale-pink text-black float-right" type="submit" value="Zarejestruj"/>
                        <a class="btn btn-platinum text-black" asp-controller="Home" asp-action="Index">Cofnij</a>
=======
            <div class="col-md-8 offset-2">
                <form asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" class="form-control"></input>
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" class="form-control"></input>
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control"></input>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control"></input>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-outline-success float-right" type="submit" value="Zarejestruj"/>
                        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
>>>>>>> 17d4fe8 (Added Account Controller. Added ViewModels to login and register. Added Views for login and register. Added method in controller to getting View of login and register. Added method to log in)
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>