html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-label {
    font-size: 1.4rem;
}

.form-icon {
    font-size: 1.4rem;
    margin-right: 10px;
}

nav{
  background-color: #02223C;
}

footer{
  background-color: #02223C;
  color: #FFD6D6;
  font-weight: lighter;
  font-style: oblique;
}

.nav-link, .dropdown-item{
  color: #FFD6D6;
}

.dropdown-menu{
  background-color: #02223C;
}

.image-background{
  background: #EDE8E8;
  height: 300px;
}

.image-home{
  height: 300px;
  width: 100%;
  object-fit: none;
}

.label-home{
  font-weight: lighter;
  font-style: oblique;
  font-size: 60px;
  color: #02223C;
}
@media (max-width: 1300px) {
  .image-background{
    display: none;
  }
}

.view-search{
  font-size: 1.4rem;
}

.btn-search-option{
  background-color: #EDE8E8;
  color: #02223C;
  text-align: left;
  font-size: 40px;
  font-weight: lighter;
  font-style: oblique;
}

.btn-add{
  background-color: #FDECD8;
  color: #152536;
}

.btn-search{
  background-color: #615049;
  color: #EDE8E8;
  width: 100%;
}

.btn-recipe-option{
  background-color: #FFD6D6;
  width: 100%;
}

.input-search{
  width: 100%;
}

.bg-recipe-card{
  background-color: #EDE8E8;
}