html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-label {
    font-size: 1.4rem;
}

.form-icon {
    font-size: 1.4rem;
    margin-right: 10px;
}

nav{
  background-color: #02223C;
}

footer{
  background-color: #02223C;
  color: #FFD6D6;
  font-weight: lighter;
  font-style: oblique;
}

.nav-link, .dropdown-item{
  color: #FFD6D6;
}

.image-background{
  background: #EDE8E8;
  height: 300px;
}

.image-home{
  height: 300px;
  width: 100%;
  object-fit: none;
}

.carousel-image-standard {
    height: 38rem;
    width: 38rem;
    object-fit: scale-down;
}

.carousel-hidden {
    visibility: hidden;
}

.label-home{
  font-weight: lighter;
  font-style: oblique;
  font-size: 60px;
  color: #02223C;
}
@media (max-width: 1300px) {
  .image-background{
    display: none;
  }
}

.view-search{
  font-size: 1.4rem;
}

.btn-oxford-blue{
  background-color: #02223C;
}
.btn-platinum{
  background-color: #EDE8E8;
}

.btn-antique-white{
  background-color: #FDECD8;
}

.btn-umber{
  background-color: #615049;
}

.btn-pale-pink{
  background-color: #FFD6D6;
}

.btn-white{
  background-color: #FFFFFF;
}

.btn-khaki-web{
  background-color: #D5C3AA;
}

.text-oxford-blue{
  color: #02223C;
}

.text-antique-white{
  color: #FDECD8;
}

.text-platinum{
  color: #EDE8E8;
}

.text-black{
  color: #000000;
}

.width-max{
  width: 100%;
}

.height-max{
  height: 100%;
}

.search-option{
  text-align: left;
  font-size: 40px;
  font-weight: lighter;
  font-style: oblique;
}

.bg-recipe-card{
  background-color: #EDE8E8;
}

.shopping-list{
  background-color: #EDE8E8;
  height: 150px;
}

.shopping-list-edit{
  background-color: #EDE8E8;
  height: 40px;
}

.mt-2rem {
    margin-top: 2rem;
}

.mt-1rem {
    margin-top: 1rem;
}

.fr {
    float: right !important;
}

.control-label{
  font-size: 22px;
}

.category-card{
  background-color: #FDECD8;
}

.card-body-scroll{
  height: 120px;
  overflow-y:scroll;
}

.recipes-search-options{
  background-color: #615049;
}