@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-12 image-background">
    <div class="row">
        <div class="col-md-7">
            <img src="images/home-index.png" alt="Image" class="image-home">
        </div>
        <div class="col-md-3">
            <br/>
            <label class="label-home">Made with love to cook and earth</label>
        </div>
    </div>
</div>
