@using ZeroWaste.Models
@model IEnumerable<Ingredient>

@{
    ViewData["Title"] = "Lista składników";
}

<div class="row">
    <div class="col-md-8 offset-md-2">

        <table class="table">
            <thead>
                <tr class = "text-center">
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.UnitOfMeasure.Shortcut)</th>
                </tr>
            </thead>
        </table>
    </div>
</div>