@using ZeroWaste.Data.ViewModels.CategorySearch;
@model IEnumerable<CategorySearchVm>
@{
    ViewData["Title"] = "Szukaj po kategoriach";
}
<div class="view-search">
    <div class="col-md-6 offset-3">
        <div class="row">
            <div class="text-center">
                <h3>Wyszukaj przepis po kategoriach</h3>
            </div>
        </div>
        <div class="row">
            @foreach (var item in @Model)
            {
                <div class="col-md-3 col-sm-6 mb-3 text-center">
                    <a class="btn" asp-action="SearchByCategoryResult" asp-route-categoryId="@item.Id">
                        <img class="rounded-circle" src="@Url.Content(@item.Image)" style="width:100px; height:100px; object-fit: cover" alt="test"/>
                    </a>
                    <h5>@item.Name</h5>
                </div>
            }
        </div>
    </div>
</div>