@model string;

@*@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{*@
    <div style="position: fixed; right: 30px; bottom: 80px;" class="text-white">
        <a asp-controller="@Model" asp-action="Create" class="btn btn-default btn-antique-white text-oxford-blue">
            <i class="bi bi-plus-circle"></i> Dodaj nowy!
        </a>
    </div>
@*}*@
