<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZeroWaste</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ZeroWaste.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/images/Logo.png" alt="Image" class="image-logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #FFD6D6;">
                                Przepisy
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #02223C;">
                                <a class="dropdown-item" asp-controller="SearchRecipes" asp-action="Index">Wyszukaj</a>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="dropdown-item" asp-controller="Recipes" asp-action="Create">Dodaj</a>
                                    <a class="dropdown-item" asp-controller="SearchRecipes" asp-action="SearchMineToEdit">Edytuj moje</a>
                                    <a class="dropdown-item" asp-controller="SearchRecipes" asp-action="SearchFavourite">Ulubione</a>
                                    <a class="dropdown-item" asp-controller="SearchRecipes" asp-action="SearchHated">Tych nie zjem</a>
                                    if (User.IsInRole("Admin"))
                                    {
                                        <a class="dropdown-item" asp-controller="SearchRecipes" asp-action="SearchForConfirm">Do zatwierdzenia</a>
                                    }
                                }
                            </ul>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="navbar-nav flex-grow-1w">
                                <a class="nav-link" asp-controller="ShoppingLists" asp-action="Index">
                                    Listy zakupów
                                </a>
                            </li>
                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #FFD6D6;">
                                Produkty
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #02223C;">
                                <a class="dropdown-item" asp-controller="Ingredients" asp-action="Index">Wyszukaj</a>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="dropdown-item" asp-controller="Ingredients" asp-action="Create">Dodaj</a>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
                <partial name="_Identity"/>
            </div>
        </nav>
    </header>
    <div style="padding: 50px 20px;">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            <div class="text-center">
                Made with love to cook
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*<script src="lib/jquery-ui-1.13.2.custom/jquery-ui.min.js"></script>*@
    <script src="/lib/he/he.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
