@model ZeroWaste.Models.ShoppingList
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditTitle" asp-controller="ShoppingLists">
            <div class="row">
                <div class="col-md-2">
                    <p>Tytuł: </p>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" asp-for=@Model.Title style="width: 100%"/>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-2">
                    <p>Notatka: </p>
                </div>
                <div class="col-md-8">
                    <textarea type="text" class="form-control" asp-for=@Model.Note style="width: 100%"></textarea>
                    <input type="hidden" asp-for="@Model.Id"/>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-pale-pink text-black width-max">
                        <i class="bi bi-check2"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>